
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;

  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(3, 62, 107, 0.437); /* طبقة زرقاء شفافة */
  z-index: -1;
}


.logo {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100px;
  z-index: 10;
}

@media (max-width: 600px) {
  .logo {
    width: 70px;
    top: 10px;
    right: 10px;
  }
}


.container {
  max-width: 400px;
  width: 90%;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


.title {
  color: lab(27.08% -1.35 -28.84);
  text-align: center;
  padding: 12px;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}



.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}



.input-group label {
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  width: 100%;
}



.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-left: 42px;
}

.toggle-eye {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 0.6;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23777' viewBox='0 0 24 24'><path d='M12 5C5 5 1 12 1 12s4 7 11 7 11-7 11-7-4-7-11-7zm0 11a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/></svg>") no-repeat center;
  background-size: contain;
}

.toggle-eye:hover {
  opacity: 1;
}


.btn {
  width: 100%;
  padding: 12px;
  background: lab(27.08% -1.35 -28.84);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #0b5ed7;
}

.btn:active {
  transform: scale(0.98);
}


@media (max-width: 600px) {
  .container {
    width: 95%;
    padding: 18px;
  }

  input {
    font-size: 14px;
    padding: 9px;
  }

  .title {
    font-size: 18px;
    padding: 10px;
  }

  .btn {
    font-size: 15px;
    padding: 10px;
  }
}
